<!-- <div class="page-header">
    <h1>Hello {{main.username}}</h1>
</div> -->

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 my-5">
          <img src="../../../assets/images/about.png" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-2 my-5">
          <h1>ABOUT US</h1><br/>
          <p>We offer a tremendous gathering of books in the various classifications of Fiction, 
            Non-fiction, Biographies, History, Religions, Self-Help, and Children. 
            We likewise move in immense accumulation of Investments and Management, 
            Computers, Engineering, Medical, College, and School content references books 
            proposed by various foundations as scheduled the nation over. 
            Besides this, we offer an expansive gathering of E-Books at a reasonable value.
            Also we offers online delivery of books according to the customer order.</p>
        </div>
      </div>
    </div>
  </section>