<!-- <div class="page-header">
    <h1>Welcome {{ main.username }}</h1>
</div> -->

<section id="home">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="20000">
          <img src="../../../assets/images/home.jpg" class="slide d-block w-1000" alt="...">
          <div class="carousel-caption ">
            <h1 class="text-center">Discover Your Genre here!</h1>
            <p class="text-center">
              Books and doors are the same thing.</br>
              You open them, and you go through into another world.</p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/images/slide1.jpg" class="slide d-block w-1000" alt="...">
          <div class="carousel-caption">
            <h1 class="text-center my-20">Explore More Now!</h1>
            <p class="text-center">Books are uniquely portable magic.</p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/images/slide2.jpg" class="slide d-block w-1000" alt="...">
          <div class="carousel-caption">
            <h1 class="text-center">Thank You for Visit</h1>
            <p class="text-center">Today a reader, tomorrow a leader.</p>
          </div>
        </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    

  </section>